
body{
  margin: 0px;
  padding: 0px;
}


.all{
  display: flex;
  flex-direction: column;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: grey;
  padding: 5px;
  flex: auto;
}

.dropdown{
  display: block;
  padding: 0px;
  background-color: white;
}

.dropdown div{
  padding: 10px;
}

.dropdown-content{
  display: none;
  position: absolute;

  background-color: white;
  padding: 10px;
}

.dropdown:hover div{
  background-color: lightgrey;

}

.dropdown:hover .dropdown-content{
  display: flex;
  flex-direction: column;
  min-width: 100px;
  height: auto;

  align-items: stretch;
}

.dropdown-content a{
  display: flex;
  color: black;
  background-color: lightgrey;
  padding: 5px;

  align-items: center;
}

.dropdown-content a:hover{
  background-color: grey;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #100000;
  padding: 5px;

}

.links{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 background-color: #100000;
 padding: 10px;

 flex: 0 0 auto;
}

.main{
 display: flex;
 flex-direction: column;
 background-color: #980000;
 padding: 10px;

 flex: 1 0 auto;

}

.right{
 display: flex;
 justify-content: space-around;
 align-items: center;
 justify-content: center;
 background-color:#100000;
 padding: 5px;
 flex: 20% 0 auto;
}
header, footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  padding: 5px;

  font-size: 30px;
  font-style: italic;
}
div{
  padding: 0px;

}
img{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;

}

.all .row .right div h3{
  color: #980000;
}

@media screen and (max-width: 1000px)
{
	.row{
		flex-direction: column;
	}

}
