



body{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

h1{
	margin: 0px;
	padding: 0px;
}

button{
	opacity: 0.5;
	font-size: 40px;

}

img{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
	margin: 0px;
	padding: 0px;
}


@media screen and (max-width: 1000px){

}
