.all{
  margin: auto;
  display: flex;
  flex-direction: column;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: blue;
  padding: 5px;
  flex: auto;
}

.dropdown{
  display: inline-block;
  background-color: green;
  min-width: @media screen;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
}

.dropdown:hover{
  background-color: darkgreen;
}

.dropdown:hover .dropdown-content{
  display: flex;
  flex-direction: column;
}

.dropdown-content a{
  display: block;
  color: black;
  background-color: lightgrey;
}



.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightblue;
  padding: 5px;
}

.links{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 background-color: lightgreen;
 padding: 5px;
 flex: 0 0 auto;
}

.main{
 display: flex;
 flex-direction: column;
 background-color: lightyellow;
 padding: 10px;
 flex: 1 0 auto;
}

.right{
 display: flex;
 justify-content: space-around;
 align-items: center;
 justify-content: center;
 background-color: brown;
 padding: 5px;
 flex: 20% 0 auto;
}
header, footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  padding: 5px;
  font-size: 30px;
  font-style: italic;
}
div{
  padding: 10px;
}

@media screen and (max-width: 1000px)
{
	.row{
		flex-direction: column;
	}

}
