
body{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.spin body{
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
span{
  display: flex;

}

.all{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all *{
  margin: 5px;
}


.utility{
  display: flex;
  justify-content:space-between;
  width: 100%;
}

input{
  border: 2px solid red;
  background-color: black;
  color: white;
  height: 40px;
  width: 80px;
  font-size: 15px;
  border-radius: 12px;
}
.button_menu{
  cursor: pointer;
  display: inline-block;
}

.line_1, .line_2, .line_3 {
  width: 35px;
  height: 5px;
  background-color: #980000;
  margin: 6.2px 0;
  transition: 0.5s;
}

.change .line_1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  width: 35px;
}

.change .line_2 {
  opacity: 0;
}

.change .line_3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  width: 35px;
}
.menu_box{
  display: block;
  position: absolute;
  height: auto;
  width: auto;
  right: 0px;
  top: 60px;
  margin: 0px;
  background-color: grey;
}

.menu_box .menu{
  display: none;
}

.change .menu{
  display: block;
  margin: 0px;
  padding: 5px;
}

.colors:hover{
  cursor: pointer;

}

.color_select{
  display: none;
  padding: 5px;
}
.color_select div{
  height: 20px;
  margin: 0px;

}

.show .color_select{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 75px;
  top: 19px;
  background-color: white;

}




.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
}

.dropdown{
  display: inline-block;
  padding: 0px;
  background-color: white;
  margin: 0px;
  height: 100%;
  border: 4px solid black;
  align-items: center;
  justify-content: center;
}

.dropdown div{
  padding: 10px;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: white;
}
.dropdown:hover{
  background-color: lightgrey;
}

.dropdown:hover div{
  background-color: lightgrey;
}

.dropdown:hover .dropdown-content{
  display: flex;
  flex-direction: column;
  margin: 0px;
  align-items: stretch;
}

.dropdown-content a{
  display: flex;
  color: black;
  background-color: lightgrey;
  padding: 5px;
  align-items: center;
}

.dropdown-content a:hover{
  background-color: grey;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*background-color: #100000;*/
  padding: 5px;
  margin: 10px;
  width: 94%;
}

.links{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 background-color: grey;
 padding: 10px;
 border: 4px solid black;
 flex: 0 1 auto;
}

.main{
 display: flex;
 flex-direction: column;
 background-color: #980000;
 padding: 10px;
 border: 4px solid black;
 flex: 1 2 auto;
}

.right{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-color: grey;
 padding: 5px;
 flex: 20% 1 auto;
 border: 4px solid black;
}

header, footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #8A0000;
  text-shadow: 2px 1px black;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
}

div{
  padding: 0px;
}

img{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  margin: 0px;
  padding: 0px;
}

#bild{
  margin: 0px;
}

.all .row .right div h3{
  color: #8A0000;
}

@media screen and (max-width: 1000px)
{
	.row{
		flex-direction: column;
	}

}
