
body{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}



.all{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.utility{
  display: flex;
  justify-content:space-between;
  width: 100%;
}

input{
  border: 2px solid red;
  background-color: black;
  color: white;
  height: 40px;
  width: 80px;
  font-size: 15px;
  border-radius: 12px;
}



.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: grey;
  padding: 5px;
  flex: auto;
}

.dropdown{
  display: block;
  padding: 0px;
  background-color: white;
}

.dropdown div{
  padding: 10px;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: white;
  transform: translateY(-10px);
}

.dropdown:hover div{
  background-color: lightgrey;

}

.dropdown:hover .dropdown-content{
  display: flex;
  flex-direction: column;

  height: auto;
  align-items: stretch;
}

.dropdown-content a{
  display: flex;
  color: black;
  background-color: lightgrey;
  padding: 5px;
  align-items: center;
}

.dropdown-content a:hover{
  background-color: grey;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*background-color: #100000;*/
  padding: 5px;
  margin: 10px;
  width: 94%;
}

.links{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 background-color: grey;
 padding: 10px;

 flex: 0 0 auto;
}

.main{
 display: flex;
 flex-direction: column;
 background-color: #980000;
 padding: 10px;

 flex: 1 0 auto;

}

.right{
 display: flex;
 justify-content: space-around;
 align-items: center;
 justify-content: center;
 background-color: grey;
 padding: 5px;
 flex: 20% 0 auto;
}
header, footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #8A0000;
  text-shadow: 2px 1px black;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
}


div{
  padding: 0px;

}



img{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  margin: 0px;
  padding: 0px;
}

#bild{
  margin: 0px;
}


.all *{
  margin: 5px;

}

.all .row .right div h3{
  color: #980000;
}



@media screen and (max-width: 1000px)
{
	.row{
		flex-direction: column;
	}

}
