/*Inline- och blockelement */
h1 {
  color: violet;
  font-size: 50px;
}
p {

  font-size: 30px;

}

/* inline element */
/* Först en klass, alla element som är av denna klass får
alla samma egenskaper */

.rosa {
  background-color: pink;
}
.cyan {
  background-color: cyan;
}
/* Typselektor */

#unik1 {
  color: cyan;
}

#unik2 {
  color: blue;
}

body {
background-color: black
}
